<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.quranquiz"
    android:versionCode="7"
    android:versionName="0.3.115" >

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.VIBRATE"></uses-permission>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"></uses-permission>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <permission
        android:name="net.quranquiz.permission.MAPS_RECEIVE"
        android:protectionLevel="signature"/>
	<uses-permission android:name="net.quranquiz.permission.MAPS_RECEIVE"/>
	<uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    
	<uses-feature
        android:glEsVersion="0x00020000"
        android:required="true"/>
	
    <uses-sdk android:minSdkVersion="5" android:targetSdkVersion="17" />

    <application
        android:icon="@drawable/ic_launcher"
        android:name=".QQApp"
        android:label="@string/app_name" 
        android:allowBackup="true" >
        <activity
            android:label="@string/app_name"
            android:name=".QQDashboardActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
       <activity
            android:label="@string/app_name"
            android:name=".QQQuestionaireActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" 
            android:theme="@style/Theme.qqstyle" >
        </activity>
        <activity
	    	android:name=".QQPreferences"
	    	android:theme="@style/Theme.qqstyle" >
	  	</activity>
        <activity
	    	android:name=".QQStudyListActivity"
	    	android:theme="@style/Theme.qqstyle" >
	  	</activity> 
        <activity
	    	android:name=".QQMap" >
	  	</activity>
	  	<activity
	    	android:name=".QQInstructionsActivity"
	    	android:screenOrientation="portrait" 
	    	android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
	    	android:configChanges="keyboardHidden|orientation|screenSize" >
	  	</activity>        
	  	<activity
	    	android:name=".QQLastScreenActivity"
	    	android:theme="@style/Theme.qqstyle" >
	  	</activity>
	  	<activity
	    	android:name="org.achartengine.GraphicalActivity" >
	  	</activity>
	  	
	  	<meta-data
    		android:name="com.google.android.maps.v2.API_KEY"
    		android:value="AIzaSyCCBqnooy1XtIUvSrVi-g4h7BTukNlWq1k"/>
	  	
	</application>

</manifest>
